
	width: 400px;
	margin: 50px auto;
	padding: 40px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}


	margin-bottom: 20px;
	text-align: center;
	color: #555;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #666;
}


input[type="text"],
input[type="password"] {
	padding: 8px 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="checkbox"] {
	margin-top: 10px;
}

input[type="submit"] {
	margin-top: 20px;
	background: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #3e8e41;
}
/* Set the info section to be centered and at the bottom */

#loginDiv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  flex-direction: column;
}

#button1{
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#button2{
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#button3{
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.google-button {
  background-color: #dd4b39;
  color: white;
}

.naver-button {
  background-color: #1ec800;
  color: white;
}

.kakao-button {
  background-color: #F7E600;
  color: black;
}

