
.tot {
    /* display: flex; */
    width: 700px;
    margin: 0 auto;
}
.mypage {
    background-color: #FCECD3;
    padding: 1px;
    text-align: center;
    margin: 10px auto 50px;
}
.iSide a {
    color: black;
    text-decoration: none;
    line-height: 5px;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px 25px;
    margin-top: 40px;
    padding-bottom: 25px;
}
.img img {
    width: 100%;
    height: 100%;
}
.imgPro {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 사진 동그랗게 */
}
.rarrow {
    width: 12px;
    height: 12px;
}
#grade a {
    color: rgb(92, 121, 92);
}
.gradename {
    color: white;
    margin-top: -22px;
    text-align: center;
}
.gradeBox {
    height: 110px;
    /* background-color: #FBA92C; */
    background-color: #f4ad44;
    margin: 0 0; /*box 바깥 영역*/
    padding: 20px 40px 30px; /*box 안쪽 영역(위오아왼)*/
    border-radius: 10px;
}
.barGraph {
    width: 620px;
    height: 20px;
    /* background-color: lightgray; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.label {
    flex: 1;
    text-align: center;
    font-size: 12px;
    height: 7px;
    border: 1px solid #9E9E9E;
    background-color: #9E9E9E;
}
.label1 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.label3 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.barName {
    width: 620px;
    height: 22px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.quarter0 {
    position: absolute;
    left: 0%;
}
.quarter1 {
    position: absolute;
    left: 31%;
}
.quarter2 {
    position: absolute;
    left: 64%;
}
.quarter3 {
    position: absolute;
    left: 97%;
}
* {
    box-sizing: border-box;
}
.box .line {
    font-size: 22px;
}
.box1-1 {
    margin-left: 45px;
}
.box1-3 {
    margin-right: 45px;
}
.tot .box {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    text-align: center;
    align-items: center;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(236, 235, 235);
    margin: 25px 0px 40px;
}
.box1 a, .box2 a {
    color: black;
    text-decoration: none;
}
.scraptext {
    text-align: center;
}
.scrapbox {
    display: flex;
    height: 300px;
    margin: -30px 0px 50px;
    gap: 0px 20px;
    justify-content: center;
    align-items: center;
}
.scrap {
    width: 220px;
    height: 250px;
    background-color: #cbcbcb;
}
.more {
    text-align: end;
    margin-right: 2px;
}
#grade {
    margin: -15px 0px -5px 10px;
}
.cta {
    position: relative;
    margin: auto;
    padding: 10px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    /* background: #b1dae7; */
    background: #bacde3;
    width: 40px;
    height: 42px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 0.05em;
    color: #2e394a;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2e394a;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover {
    cursor: pointer;
}
.cta:hover:before {
    width: 100%;
    background: #bacde3;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}

/*하단고정*/
#fixedButton {
    position: fixed; 
    right: 45px;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center center;
    background-color: white;
    color: #565656;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #9E9E9E;
    cursor: pointer;
}
#fixedButton:hover {
    background-color: #565656;
    color: white;
}
.footer1 {
	display: flex;
	gap: 0px 20px;
	background-color: rgb(238, 236, 236);
	font-size: 10px;
	height: 40px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.w {
    padding-top: 12px;
}
.w a{
    color: black;
    text-decoration: none;
}
.companyInfo {
	margin-left: 270px;
}
.footer1 .line {
    border-left: 2px solid lightgray;
    margin: 12px;
}
.foot2box1 {
    padding-top: 20px;
}
.footer2 {
    display: flex;
    place-content: center;
    padding-top: 20px;
}
.line2 {
    border-left: 2px solid lightgray;
    margin: 25px;
    margin-right: -50px;
}
.footer3 {
    padding-top: 5px;
    padding-left: 270px;
    border-top: 1px solid gray;
}