/*
=====헤더=====
*/



.search {
    background: white;
    border-radius: 5px;
}

#preface {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#press-text {
    display: flex;
    justify-content: left;
    align-items: start;
}

#press-board {
    display: grid;
    grid-template-columns: 3fr 3fr;
    place-items: center;
}
.press-img {
    width: 500px;
    height: 20em;
}
#prev-next-div-outer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.press-info-div {
    display: grid;
    justify-content: start;
    align-items: start;
    place-items: start;
    place-content: start;
}


/*


*/

.listButton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 300px;
    height: 35px;
    margin: 25px auto 50px;
    text-align: center;
    /* border: 1px solid rgb(222, 220, 220); */
    /* place-content: center; */
}
.listBox h5 {
    margin: 7px 0px 2px;
}
.listnum {
    border: 1px solid rgb(222, 220, 220);
}
.listnum a {
    text-decoration: none;
    color: black;
}
.listnum:hover {
    background-color: rgb(222, 220, 220);
}
.listButton img {
    padding-top: 11px;
    width: 13px;
    height: 12px;
}




